
<div ng-show="list.tasks.length">
    <ng-include src="'partials/app/sidebarProgress.html'"></ng-include>
</div>
<div ng-show="! list.Owner">
        <ng-include src="'partials/app/sidebarEmailWidget.html'"></ng-include>
</div>
<div ng-show="!listFinalized()">
    <ng-include src="'partials/app/sidebarAddTasks.html'"></ng-include>
</div>
<div ng-show="listFinalized()">
    <ng-include src="'partials/app/sidebarNewList.html'"></ng-include>
</div>
<div ng-show="!! list.Owner">
    <ng-include src="'partials/app/sidebarEmailWidget.html'"></ng-include>
</div>
