<div ng-show="list.tasks.length">
    <div class="well">
    <h2>What else?</h2>
<p>Come up with something else? Just jot it down in the text area and click the button. Don't worry. it won't count against your stats for today.</p>

    <div class="control-group add-items">
<div class="controls"><textarea  rows="6" class="span12 input-block-level" ng-model="tasksToAdd"></textarea>
    </div>
<div class="controls clearfix"><input type="submit" value="Add" ng-click="addTasks(tasksToAdd); tasksToAdd=''" class="widget btn btn-primary pull-right">
</div>
    </div>
 </div>
