/*
Place custom styles here. Thes styles are ment to be loaded after
bootstrap, so the may override it's behavior.
*/

body {
}

// Footer
.footer {
  margin-top: 5em;
  padding: 30px 0;
  text-shadow: none;
  .box-shadow(inset 0 5px 15px rgba(0, 0, 0, .025));
}

ul.tasks {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
 li {
    font-size: 1.5em;
    line-height: 1.7em;
    &.complete {
        color: @grayLight;
        span {text-decoration: line-through; }
    }
    i.icon {
    font-size: 0.7em;
    line-height: 0.5em;
    vertical-align:text-bottom;
    color: #999;
    display:none;
    }
    &:hover i.icon {
    text-decoration: none;
    display:inline-block;
    }
}
}

.later {
    h3 { font-weight: bold; }
    ul.tasks {
        margin: 0;
        font-size: 0.8em;
    }
}

.initial-tasks-create {
    font-size: 1.3em;
}

.instructions {
    margin-bottom: 1em;
}

.navbar a {
    color: @white;
}

.list-header {
        font-size: 2em;
.clock {
    display: inline-block;
}
.description {
    .now {
    color: @grayLight;
    }
    padding: 0.25em;
}
}

.progress-wrapper {
    .progress-status {
    display: none;
    }
}
